# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Force Python and configuration files to always use LF line endings
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
